@import "../components/normalize-css/normalize.css"
@import "../components/jquery-mobile-bower/css/jquery.mobile-1.3.2.min.css"

#app
  z-index 3
  -webkit-transition-property -webkit-transform
  -webkit-backface-visibility hidden
  -webkit-perspective 1000
  -webkit-transform-style preserve-3d
  -webkit-transform translate3d(0,0,0)
  -webkit-transition-timing-function ease-out

a
  color red

#content
  padding 1em
  overflow-y scroll
  -webkit-overflow-scrolling touch
  label.ui-slider
    float left
    width 40%
  label.twoline
    float none
  section:nth-child(even)
    background-color darken(white,5)
  h1
    font-size 1em

@import "nav-slide/nav-slide"
@import "nav-slide/demo-theme"
