.nav-slide
  position absolute
  top 0
  height 100%
  width 0
  background-color grey
  z-index 1

  &.nav-slide-right
    right 0

  &.nav-slide-left
    background-color darken(grey,30)
    left 0
