.nav-slide
  position absolute
  top 0
  height 100%
  width 0
  background-color grey
  z-index 1
  display none

  &.nav-slide-right
    right 0

  &.nav-slide-left
    left 0

  &.nav-slide-open
    z-index 2
